h1.page-error {
    color: red;
    margin-left: 50px;
}

Button.Button-css {
    margin: 10px;
}

Button.add-button-css {
    margin-top: 30px;
    margin-top: 5;
}

Button.button-logout {
    margin-top: 50;
    margin-left: 1080px;
}

/* .input {
    margin: 10px;
    width: 200px;
} */

.eyeOutline {
    margin-Right: 12px;
    color: blue !important
}

.deleteOutlined-css {
    margin-Right: 12px;
    color: red !important
}

.editOutlined-css {
    margin-Right: 12px;
    color: blue
}

h1.text-tittle {
    color: orange;
    align-items: center;
    text-align: center;
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.main-div-css {
    /* margin: 60px; */
    display: flex;
    justify-content: center;
}


.input-css {
    max-width: 400px;
}

.selectPrefix {
    max-width: 70px;
}

.selectSuffix {
    max-width: 50px;
}

.input-prefixSelector {
    max-width: 100%;
}

.signup-btn {
    margin: 6px;
}
.signup-btn-css{
    margin: auto;
    
}
.ant-form{
    max-width: 1000px;
    min-width: 800px;
    justify-content: center;
    flex-direction: column;
    margin-left: 500px;
    margin-top: 40px;
}

.ant-card{
    max-width: 40%;
    /* margin-left: 150px; */
    margin-top: 50px;
    background-color:antiquewhite;
    border-radius: 20px;
    box-shadow: 0px 0px 12px 1px;

}
.ant-card-body{
    display: flex;
    justify-content: center;
}
.div-cls{
    margin-top: 50px;
    background-color:antiquewhite;    
  }
  .form-cls{
    display: flex;
    justify-content: center;
  }
  .alert-msg-cls{
    margin: 50px;
  }
  /* css of home-page
   */
   .site-layout-content {
    min-height: 280px;
    padding: 24px;
    background: #fff;
  }
  #components-layout-demo-top .logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
  }
  .ant-row-rtl #components-layout-demo-top .logo {
    float: right;
    margin: 16px 0 16px 24px;
  }